# Welcome to the Python class! 
After completing each exercise, ask the instructor to review before moving to the next section. Read each instruction carefully and call the instructor if something doesn't make sense.

### Resources for python

Here are some of the best resources for Python on the web. 

#### Learning resources

* [Interactive Python](http://interactivepython.org/) An online book that includes embedded live excercises. Fun!
* [Dive Into Python](http://www.diveintopython.net/) An excellent, thorough book.
* [tutorial point](http://www.tutorialspoint.com/python/index.htm) A resource that is useful when you want an explanation of one concept, rather than a whole chapter.

There are endless other learning resources, you can find some more on the [Class resources webpage](http://mas-dse-200.herokuapp.com/resources/)

#### Reference resources

Typically, if you have a question about python, you can find an answer by using google. The following sites will usually have the best answer.

* [Official python documentation](https://docs.python.org/2/library/)
* [Quick Reference from Tutorial Point](http://www.tutorialspoint.com/python/python_quick_guide.htm)

# Basic Python

### Print Hello World!

In [ ]:
print("Hello Wolrd!")

### Basic types

The main basic data types in python are numbers (`int`s and `float`s) `bool`ean and `str`ings.

In [ ]:
print(type(123))
print(type(123.0))
print(type('123'))
print(type(True))

In [ ]:
# Strings can be enclosed by '," or """
print(" this is a string enclosed by \"\" not '' ")
print(' this string is not enlosed by "" ')
print('This string spans \n two lines\n\n')
print("""this string is 
a whole paragraph, ' and " can be used freely
and can span lines without using \\
""")

### The numbers support all of the standard mathematical operations

In [ ]:
123+2

In [ ]:
123-2.0  # if one of the operands is a float, the result is a float.

In [ ]:
123/2    # integer division

In [ ]:
123.0/2, 123/2.0  # floating point division

In [ ]:
# i % j computes the remaineder from dividing i by j (integer division)
print(123 % 5,',', 123-(123/5)*5)   # the 'print' command is redundant in the last line of a cell.

In [ ]:
# Summing of strings means concatanation 
x='123'+'0'
x

In [ ]:
# incrementing or decrementing a variable
a=0; b=0 # yes, you can have more than one command in a line, but it is usually considered bad style
a+=1; a+=1 # equivalent to `a=a+1`
b-=2; b-=3
print(a,b)

In [ ]:
# casting a string as an integer
int(x)-1

In [ ]:
# casting an integer as a string
str(15)+'$'

#### Excercise
Write a statement that, given two integers, a and b, outputs the string
> a + b = a+b

for example, if a=15 and b=3, output 
> 15 + 3 = 18

In [ ]:
a=15; b=3

# Write Code Here

### Booleans and conditions

In [ ]:
print(1==1, 1==2, 1<2, 1<1, 1<=1,1<=0.99)

In [ ]:
print(type(1==1))

In [ ]:
True or False, True and False, not False

In [ ]:
# testing whether a number is a multiple of 7
a=343
a % 7 == 0

### String opeations

In [ ]:
'1'+'2' # Concatanation

In [ ]:
word='Lough'

In [ ]:
'gh' in word # test for substring

In [ ]:
word.find('gh') # find the first location of 'gh' in 'lough'

In [ ]:
print(word.upper()) # all cases to upper
print(word.lower()) # all cases to lower

In [ ]:
print(word[1:],word[:-1])   # get all but the first, or all but the last characters of the word

In [ ]:
text='   this is it   '
print(text.strip()) # remove trailing space on both sides
print(text.lstrip()) # remove trailing space on left
print(text.rstrip()) # remove trailing space on right

### Lists and Tuples ###
In the next cell we read the file, parse it according to `fields`, and create a dictionary of lists, one for each field.

In [ ]:
## This list of tuples defines the names and locations of the elements.
fields=[
    ('caseid', 1, 12, int),
    ('nbrnaliv', 22, 22, int),
    ('birthwgt_oz', 59, 60, int),
    ('prglength', 275, 276, int),
    ('outcome', 277, 277, int),
    ('birthord', 278, 279, int),
    ('agepreg', 284, 287, int),
    ('finalwgt', 423, 440, float),
]
print(fields)
# note the types of the 4 fields, especially the last one

In [ ]:
type(fields)

In [ ]:
print(fields[2])
print(type(fields[2]))

In [ ]:
print(fields[2][0])
print(type(fields[2][0]))

### Sets
Sets are mutable collections of objects in which each object can appear at most once.

Sets are unordered, sorting them creates a list.

In [ ]:
s=set([2,99,2,1,4,99,99]) # you can make sets from lists
print(s)

In [ ]:
l=list(s)   # and lists from sets
print(l)

In [ ]:
t=set(['a','b','a',2])
print(t | s)   # you can take the OR (union) of two sets

In [ ]:
# You can take the intersection of two sets
print(s & t)

In [ ]:
 # you can find all of the elements that are in one set but not the other 
    
print(t-s)
print(s-t)

Operation	| Equivalent | Result
-------------------|---------------|---------------------
len(s)	 	|   | cardinality of set s 
x in s	 	|   | test x for membership in s
x not in s	|   | 	test x for non-membership in s
s.issubset(t) |	s <= t	| test whether every element in s is in t
s.issuperset(t) | s >= t | test whether every element in t is in s
s.union(t) | s &#124; t	| new set with elements from both s and t
s.intersection(t)	| s & t	| new set with elements common to s and t
s.difference(t)	| s - t	| new set with elements in s but not in t
s.symmetric_difference(t)	| s ^ t |	new set with elements in either s or t but not both
s.copy()	 	| | new set with a shallow copy of s

### Mutable and immutable objects, shallow and deep copies

* **Lists are Mutable** the object references *can* be changed.
* **Tuples are immutable** the object references *cannot* be changed.

In [ ]:
from copy import deepcopy
#lists are mutable:
fields_copy=deepcopy(fields)
fields_copy[3]='something else'
print(fields_copy)
print(fields)

#### Assignment, copy and deepcopy

We want to keep the list `fields` unchanged, because we will use it later to parse the file.

We want to create a *deep copy* of the list. The three main ways to create a new list are:

1. **Assignment:** `list2=list1` this does not create a new data structure, instead, it creates a pointer to an existing data structure.
2. **Shallow Copy:** `list2=copy.copy(list1)` list2 is a new container, but the elements in the container are not copied.
3. **Deep Copy:** `list2=copy.deepcopy(list1)` list2 is a new container and each element is a new object, continuing recursively.


[More on deep and shallow copies](https://docs.python.org/2/library/copy.html)

In [ ]:
#tuples are not mutable (immutable)... this should error out as you can't edit a tuple
fields_copy[2][0]=15

In [ ]:
# slices
L=range(10)
print('L =',L)
print('L[3:7] =',L[3:7])

In [ ]:
#counting form the end of the list
print(L[-6:-1])
print(L[-6:])

#### Exercise
Write a statement that, given a list L and an integer k would print the last k elements of the List

In [ ]:
L=['a','b',1,2]
k=2
# Write code here. For this input, the output should be [1,2]

### List Operations

In [ ]:
A=[3,1,2]
B=['a','c','c','b']
C=(1,'a','c')

# Concatanating tuples
print(C+C)

# Concatenating lists
print(A+B)

In [ ]:
# appending a value to a list as it is *mutable*
print(B)

B.append(55)
print(B)

### for loops
For loops are a common way to iterate over the elements of a list

One unique feature of python is that code blocks are not surrounded by `{}` oe `begin`,`end`. Instead, python uses indentation,
The lines inside a block have to be indented by a tab, or by 4 spaces, relative to the surrounding commands.

While this might seem unintuitive at first, it encourages writing more readable code, over time, you'd learn to love it!

In [ ]:
L=['a','b','c']
# note the : and the <tab> they are both necessary
# note that the loop does not have an "end" command
for l in L:
    print(l+'='+l)

### The range command creates a list of integers:
> **range(end)** - generates the list [0,1,...,end-1]

> **range(start,end)** generates the list [start,...,end-1]

> **range(start,end,step)** generates the list [start,start+step,start+2*step,...] ending at the largest element that is smaller than end

In [ ]:
# another way to achieve the same result is
for i in range(len(L)):
    l=L[i]
    print(i,l+'='+l)

In [ ]:
# print only the odd numbered elements
for i in range(1,len(L),2):
    l=L[i]
    print(i,l+'='+l)

In [ ]:
#looping over the "fields" list
for field in fields:
    print(field)

### If-Then-Else

A conditional statement can take any of the following forms.

In [ ]:
A=231
if A<30:
    print('A is smaller than 30')
else:
    print('A is equal to or larger than 30')

In [ ]:
if A>30:
    print('A is larger than 30')
elif A==22:
    print('A = 22')
else:
    print('Catchall condition')

### Combining loops and conditionals ###
Combining for loops and conditionals is one of the main work-horses of any procedural language.

In [ ]:
L=[1,'2',3,'a',22,'green',[],(1,2,3)]
for l in L:
    if type(l)==str:
        print(l,'is a string')
    else:
        print(l,'is not a string')

In [ ]:
# use "continue" when you want to skip a single iteration
# here is code that would print only the strings, ignoring items of other types,
# it also prints the location of the element in the list.
i=-1   # Starting at -1 because the python convension is that the index of the first element is 0
for l in L:
    i+=1   # a counter indicating the location of l in L
    if type(l)!=str:
        continue
    print(i,l)

In [ ]:
# use "break" when you want to quit the loop early
# here is code to find and print the first string in the list
for l in L:
    if type(l)==str:
        print(l)
        break

### Functions

A function is an operation in Python that takes in an input and produces an output. In the following, let's create a function for adding 2 numbers.

In [ ]:
def addition(a,b):
    return a+b

addition(5,10)

That was simple. Let's try something more advanced. Let's write a function that removes values in a list that are not integers.

In [ ]:
def remove_non_integers(input_list):
    new_list = [] # Initializing empty list
    for value in input_list:
        if type(value) == int:
            new_list.append(value)
    return new_list

mixed_list = [1, 4, 5, 3.0, True, False, "cat", 9, "dog"]
remove_non_integers(mixed_list)

#### Exercise

Now it's your turn. In the following sentence, replace all the commas with spaces.
The output should be "Remove the commas"

In [ ]:
sentence = "Remove,the,commas"

def remove_commas(input_text):
    # Write code here
    

remove_commas(sentence)

### Dictionaries
Dictionaries, also called "hash tables" are data structures that map keys into values.
The value can be anything. The key has to be **immutable**, for example, numbers, strings or tuples.
A key can appear only once, which means that the keys form a **set** (see above)

In [ ]:
# columns is initialized as a dictionary
columns={}
# an empty list is created for each field
for (field, start, end, cast) in fields:
    columns[field]=[]

In [ ]:
columns

In [ ]:
# An explicit definition of a dictionary:
Dict={'dan':12,'john':10,'sarah':9}
Dict

In [ ]:
#list the keys in the dictionary
for key in columns.keys():
    # note the comma at the end of the print command
    print(key,)

### Exceptions
When we read a data file there is always a chance that some of the lines in the file are corrupted. The chance approaches certainty as the length of the file increases to gigabytes.

Here is a simple example where we try to convert the string "cat" to float

In [ ]:
# This should error out as "cat" is not a number
float("cat")

Now let's gracefully skip this error prone value

In [ ]:
# There is a string "cat" in the following list
integer_list = [1,2,3,5,12,25,"cat",5,3]
float_list = [] # Empty list for storing float values

for i in integer_list:
    try:
        f = float(i)
    # This will skip when we hit "cat" and continue to the next value
    except ValueError:
        print('bad field: %s of type %s'%(i, type(i)))
        continue
    float_list.append(f)
print(float_list)

Because we use `try/except` we ignore the ill-formed fields but read all of the good ones.

# Numpy (Python for Math!)

Numpy is a math library that runs on C for faster implementation. It's very useful for solving large matrix operations.

Import the Numpy library with all the built in functions

In [ ]:
import numpy as np

In [ ]:
# Numpy has built in trigonometry functions like sin, cos, tan, etc.
print(np.sin(0.243))
print()

# Numpy also has accurate constants like pi
print(np.pi)
print()

In [ ]:
# Matrix manipulations

mat = np.matrix([[1,2,3],[4,5,6],[7,8,9]])
print(mat)
print()

print(np.cross(mat, mat))
print()

print(np.dot(mat,mat))
print()

print(np.linalg.inv(mat))

In [ ]:
# Also a useful function for creating 101 datapoints, between 0 and 10

np.linspace(0,10,101)

#### Exercise
 
Write a function that calculates the area of a circle, given the radius.

In [ ]:
radius = 5

# Write function here and print result

# Matplotlib (Python for Plotting)
Matplotlib is the Python plotting library

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

Here is a simple plot. Change the fontsize, string, figsize and see how the plot output changes.

In [ ]:
# X and Y coordinates. Make sure the lists have the same length.
x = [0,1,2,3,4,5]
y = [0,10,15,23,34,55]

plt.figure(figsize=(7,5)) # First value for horizontal length and the second vertical
plt.plot(x,y) # Simple line plot
plt.title("Title Here", fontsize=14) # Title
plt.xlabel("X-Label Here", fontsize=12) # X-axis description
plt.ylabel("Y-Label Here", fontsize=12) # Y-axis description
plt.show() # Output final plot

In [ ]:
# Time to revise some numpy

x = np.linspace(0, 2*np.pi, 400)
y = np.sin(x**2)
plt.figure(figsize=(7,5))
plt.plot(x, y)
plt.title('Simple plot', fontsize=15)

A single figure can have multiple subplots

In [ ]:
plt.figure(figsize=(13,5))

# Left subplot. Format: (#rows, #columns, plot_number)
plt.subplot(1,2,1)
plt.plot(x, y)
plt.title("First Line Plot")

# Right subplot
plt.subplot(1,2,2)
plt.scatter(x, y)
plt.title("Second Scatter Plot")

#### Exercise

Plot a simple pie chart (Google up how)

In [ ]:
# Write code here

#### Exercise

Plot a tan function between 0 and 2*pi

In [ ]:
# Write code here

# Pandas (Data Analytics)

Pandas is a library that allows us to read and filter data of different format. For this exercise, we will use a common CSV file (which is similar to an Excel sheet)

In [ ]:
import pandas as pd

In [ ]:
# Load the CSV file as a Pandas Dataframe
df = pd.read_csv("iris_dataset.csv")

# Show first 5 lines of the Dataframe
df.head(5)

In [ ]:
# Filter for sepal width greater than 4 cm

df[df["sepal width (cm)"]>4]

In [ ]:
# Filter and show only the petal length and width columns
# Print only the first 5 rows as there are too many rows

df[["petal length (cm)", "petal width (cm)"]].head(5)

In [ ]:
# Combining, show only petal length and width where sepal width is greate than 4 cm

df[df["sepal width (cm)"]>4][["petal length (cm)", "petal width (cm)"]]

# Final Exercise!!!

Write a function that
- Takes the the path to the iris dataset as input
- Loads the dataset as a Pandas Dataframe
- Filters for rows where sepal width is between 2cm and 4cm
- Create a plot with 2 subplots
    - Subplot 1: A scatter plot with log of petal length on y axis and log of petal width on x axis 
        - Hint: Look up log for Numpy
    - Subplot 2: A histogram of sepal length

In [ ]:
def final_function(path):
    # Write code here:






    
final_function(path)